<h4 class="prose lg:prose-xl dark:text-white dark:text-slate-500">
  Reference</h4>
<ul>
  <li>Bezgranična. (S.F.). Uvod u svjetlosnu energiju.
    Oporavio se od boundless.com.
  </li>
  <li>Byjus. (2016). Svjetlosna energija. Preuzeto s byjus.com.</li>
  <li>Nova svjetska enciklopedija. (S.F.). Svjetlo.
    Preuzeto s newworldencyclopedia.org.</li>
  <li>Stark, G. (2017). Svjetlo. Encyclopaedia Britannica.
    Oporavio se od britannica.com.</li>
  <li>Što je svjetlosna energija (S.F.). Svjetlosna energija.
    Preuzeto s stranice whatislightenergy.com.</li>
</ul>
<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  icle icle
</div>
